# Title: Collecting data using interactive Jupyter widgets

In [1]:
#Load the 'pandas' package
import pandas as pd

In [10]:
import os

In [11]:
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: /home/jovyan/B209415/B209415- Second assessment - Descriptive report/Discriptive-Report

In [27]:
aetestdata=pd.read_csv("/home/jovyan/B209415/B209415- Second assessment - Descriptive report/Discriptive-Report/Data/ae_attendances_test.csv")
aetestdata

    index      period  attendances  breaches
0    1860  2016-10-01         8472      1977
1    2350  2016-09-01         5033        17
2    2718  2016-08-01         1732         0
3    3299  2016-06-01         9464      1941
4    4176  2018-03-01        17247       273
5    4519  2018-02-01        13286        59
6    7346  2017-07-01         6797       644
7    7980  2017-05-01        10063      1874
8    9182  2019-01-01          474         0
9   10077  2018-11-01        10379       727
10  10412  2018-10-01          334         0
11  10583  2018-09-01         9657        73

In [29]:
#Investigating the type of the data
#This step is vey importabt to select the appropraite wedge for data capturing
result = aetestdata.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
attendances     int64
breaches        int64
dtype: object

The overall data type is an object (string), however the variables inside it include: Integer (Index,attendence,breaches), period is object (sting)

Now we will strat data collection process by making the data frame

In [31]:
#Creation of a data fram into which the data collected will be inputted
#Peroid which was identified as object was chnaged into timestamp to allow further analysis,
#the data selected as a start for time stap is 01/01/2000 as no data will be collected prior to this date
#Consent (boolen data type) was added to the data frame as it is crucial for ethical consideration related to data collection

dfTofill = pd.DataFrame({'index': [0],
'period': [pd.Timestamp('20000101')],
'attendances': [0],
'breaches': [0],
'consent': [False]})
dfTofill

dfTofill

   index     period  attendances  breaches  consent
0      0 2000-01-01            0         0    False

Now we will save our data fram into which our data will be collectd
The file will be named **createdData**

In [37]:
dfTofill.to_csv('/home/jovyan/B209415/B209415- Second assessment - Descriptive report/Discriptive-Report/Data/createdData.csv', index=False)

Now will save the data that will be collected into variable to allow easy call for the data, it will also be called **createdData**

In [39]:
createdData=pd.read_csv("/home/jovyan/B209415/B209415- Second assessment - Descriptive report/Discriptive-Report/Data/createdData.csv")
createdData

   index      period  attendances  breaches  consent
0      0  2000-01-01            0         0    False

**Working with widgets**

firstly we need to load the package necessary.

widgets will allow us to  creat a tool for data collection.

choosing the code will depend on the type of data.

In [40]:
#Loading pachages
import ipywidgets as widgets
from IPython.display import display

**Now will start tool creation and data collection**

In [98]:
#Adding the index number
#This number will be changed with entering each new observation
index_number=10583
dfTofill.iloc[0,0]=index_number
dfTofill


#1- Adding the consent
a = widgets.Checkbox(
value=False,
description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
disabled=False
)
display(a)


#2- Creating the widge to collect the period
b = widgets.DatePicker(
description='Period',
disabled=False
)
display(b)


#3- Creating widge to collect attendances (integr data)
c=widgets.IntText(
value=0,
description='attendances:',
disabled=False)
display(c)

#4- Creating wige to collect breaches (intger data)
d=widgets.IntText(
value=0,
description='breaches:',
disabled=False)
display(d)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accordâ€¦

DatePicker(value=None, description='Period')

IntText(value=0, description='attendances:')

IntText(value=0, description='breaches:')

In [99]:
dfTofill.iloc[0,4]=a.value
dfTofill.iloc[0,1]=b.value
dfTofill.iloc[0,2]=c.value
dfTofill.iloc[0,3]=d.value
dfTofill

   index      period  attendances  breaches  consent
0  10583  2018-09-01         9658        72     True

In [100]:
# CollectData is the first data frame
# dfTofill is the second data frame
createdData = pd.concat([createdData, dfTofill])
display(createdData)

   index      period  attendances  breaches  consent
0   1860  2016-10-01         8472      1977     True
0   2350  2016-09-01         5033        17     True
0   1732  2016-08-01         1732         0     True
0   3299  2016-06-01         9464      1941     True
0   4176  2018-03-01        17247       273     True
0   4519  2018-02-01        13286        59     True
0   7346  2017-07-01         6797       644     True
0   7980  2017-05-01        10063      1874     True
0   9182  2019-01-01          474         0     True
0  10077  2019-11-01        10379       727     True
0  10412  2018-10-01          334         0     True
0  10583  2018-09-01         9658        72     True

In [101]:
createdData=createdData[createdData['consent'] == True]
display(createdData)

   index      period  attendances  breaches  consent
0   1860  2016-10-01         8472      1977     True
0   2350  2016-09-01         5033        17     True
0   1732  2016-08-01         1732         0     True
0   3299  2016-06-01         9464      1941     True
0   4176  2018-03-01        17247       273     True
0   4519  2018-02-01        13286        59     True
0   7346  2017-07-01         6797       644     True
0   7980  2017-05-01        10063      1874     True
0   9182  2019-01-01          474         0     True
0  10077  2019-11-01        10379       727     True
0  10412  2018-10-01          334         0     True
0  10583  2018-09-01         9658        72     True

In [102]:
createdData.to_csv('/home/jovyan/B209415/B209415- Second assessment - Descriptive report/Discriptive-Report/Data/createdData.csv', index=False)