# Title: Collecting data using interactive Jupyter widgets

In [12]:
#Load the 'pandas' package
import pandas as pd

In [13]:
#As we will be using test data of ae attendences
#the data will be treated as a variable so it will be easy to call it
aetestdata=pd.read_csv("../Data/ae_attendances_test.csv")
aetestdata

    index      period  attendances  breaches
0    1155  2016-12-01          200         0
1    2059  2016-10-01         6452       360
2    3468  2016-05-01          417         0
3    4153  2018-03-01         9376       112
4    4820  2018-02-01          245         0
5    7243  2017-07-01         5170       235
6    8057  2017-04-01        15957      1309
7    8957  2019-02-01         7258      1374
8   10214  2018-10-01         3197         0
9   10328  2018-10-01         2033         8
10  11767  2018-06-01          336         1

In [14]:
#Investigating the type of the data
#This step is vey importabt to select the appropraite wedge for data capturing
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
attendances     int64
breaches        int64
dtype: object

In [15]:
result = aetestdata.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
attendances     int64
breaches        int64
dtype: object

The overall data type is an object (string), however the variables inside it include: Integer (Index,attendence,breaches), period is object (sting)

Now we will strat data collection process by making the data frame

In [16]:
#Creation of a data fram into which the data collected will be inputted
#Peroid which was identified as object was chnaged into timestamp to allow further analysis,
#the data selected as a start for time stap is 01/01/2000 as no data will be collected prior to this date
#Consent (boolen data type) was added to the data frame as it is crucial for ethical consideration related to data collection

dfTofill = pd.DataFrame({'index': [0],
'period': [pd.Timestamp('20000101')],
'attendances': [0],
'breaches': [0],
'consent': [False]})
dfTofill

dfTofill

   index     period  attendances  breaches  consent
0      0 2000-01-01            0         0    False

Now we will save our data fram into which our data will be collectd
The file will be named **createdData**

In [19]:
dfTofill.to_csv('../Data/createdData.csv', index=False)

Now will save the data that will be collected into variable to allow easy call for the data, it will also be called **createdData**

In [20]:
createdData=pd.read_csv("../Data/createdData.csv")
createdData

   index      period  attendances  breaches  consent
0      0  2000-01-01            0         0    False

**Working with widgets**

firstly we need to load the package necessary.

widgets will allow us to  creat a tool for data collection.

choosing the code will depend on the type of data.

In [22]:
#Loading pachages
import ipywidgets as widgets
from IPython.display import display

**Now will start tool creation and data collection**

In [85]:
#Adding the index number
#This number will be changed with entering each new observation
index_number=10328
dfTofill.iloc[0,0]=index_number
dfTofill


#1- Adding the consent
a = widgets.Checkbox(
value=False,
description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
disabled=False
)
display(a)


#2- Creating the widge to collect the period
b = widgets.DatePicker(
description='Period',
disabled=False
)
display(b)


#3- Creating widge to collect attendances (integr data)
c=widgets.IntText(
value=0,
description='attendances:',
disabled=False)
display(c)

#4- Creating wige to collect breaches (intger data)
d=widgets.IntText(
value=0,
description='breaches:',
disabled=False)
display(d)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accordâ€¦

DatePicker(value=None, description='Period')

IntText(value=0, description='attendances:')

IntText(value=0, description='breaches:')

In [86]:
dfTofill.iloc[0,4]=a.value
dfTofill.iloc[0,1]=b.value
dfTofill.iloc[0,2]=c.value
dfTofill.iloc[0,3]=d.value
dfTofill

   index      period  attendances  breaches  consent
0  10328  2018-10-01         2033         8     True

In [87]:
# CollectData is the first data frame
# dfTofill is the second data frame
createdData = pd.concat([createdData, dfTofill])
display(createdData)

   index      period  attendances  breaches  consent
0  11767  2018-06-01          336         1     True
0   1155  2016-12-01          200         0     True
0   2059  2016-10-01         6452       360     True
0   3468  2016-05-01          417         0     True
0   4153  2018-03-01         9376       112     True
0   4820  2018-02-01          245         0     True
0   7243  2017-07-01         5170       235     True
0   8057  2017-04-01        15957      1309     True
0   8957  2019-02-01         7258      1374     True
0  10214  2018-10-01         3197         0     True
0  10328  2018-10-01         2033         8     True

In [88]:
createdData=createdData[createdData['consent'] == True]
display(createdData)

   index      period  attendances  breaches  consent
0  11767  2018-06-01          336         1     True
0   1155  2016-12-01          200         0     True
0   2059  2016-10-01         6452       360     True
0   3468  2016-05-01          417         0     True
0   4153  2018-03-01         9376       112     True
0   4820  2018-02-01          245         0     True
0   7243  2017-07-01         5170       235     True
0   8057  2017-04-01        15957      1309     True
0   8957  2019-02-01         7258      1374     True
0  10214  2018-10-01         3197         0     True
0  10328  2018-10-01         2033         8     True

In [89]:
createdData.to_csv('../Data/createdData.csv', index=False)

In [90]:
createdData.to_csv('../RawData/createdData.csv', index=False)